VIN_API_URL=http://127.0.0.1:8000
BODY_API_URL=http://127.0.0.1:8080
ENGINE_API_URL=http://127.0.0.1:5003
ENGINE_API_TOKEN=dev-token-change-in-production
VALUATION_API_URL=http://127.0.0.1:5004
VALUATION_API_TOKEN=watinakama-valuation-api-2026
